@import '../../config';

.authForm {
  width: 80%;
  color: $dark-text;
  margin-top: 10px;
  border-radius: 3px;
  align-items: center;
  display: inline-block;
}

.tokenInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-image: url('key.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: 25px;
  font-size: 1.2rem;
  font-weight: 900;
}