@import '../../config';

.accountsButton {
  width: 100%;
  color: $dark-text;
  background-color: $light-background;
  height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.accountsButton:hover {
  background-color: $hover-background;
}

.active {
  background-color: $hover-background;
}

.displayName {
  float: left;
  margin: 12.5px;
}

.accountBalance {
  float: right;
  margin: 12.5px;
}