@import '../../config';

.button {
  background-color: $button-orange;
  color: $dark-text;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
    font-weight: 900;
}

.button:hover {
  background-color: $button-green;
  color: $button-yellow
}

.buttonSmall {
  padding: 5px 20px;
}

.buttonNormal {
  padding: 12px 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}