@import '../../config';

.categories {
  height: 70%;
}

.categoryIconsDiv {
  float: right;
  width: 50%;
  height: 50%;
}

.categoryIcons {
  padding-top: 20px;
  padding-left: 10px;
  float: left;
}

div.categories > div:first-child {
  border-bottom: 2px solid $background-color;
  border-left: 2px solid $background-color;
}
div.categories > div:nth-child(2) {
  border-bottom: 2px solid $background-color;
  border-right: 2px solid $background-color;
}
div.categories > div:last-child {
  border-top: 2px solid $background-color;
  border-right: 2px solid $background-color;
}

div.categories > div:nth-child(3) {
  border-top: 2px solid $background-color;
  border-left: 2px solid $background-color;
}