@import '../../config';

.graph {
  width: 50%;
  float: left;
  margin-bottom: 5px;
}

.graphContents {
  background-color: $dark-background;
  border-radius: 5px;
  margin-right: 5px;
  height: 292px;
}

.chartjs-render-monitor {
  height: 100% !important;
}

@media only screen and (max-width: 800px) {
  .graph {
    width: 100%;
    margin-bottom: 5px;
  }
}