
.icon {
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2.5px;
  background-size: 20px 30px;

}

.icons {
float: right;
}

.goodLife {
  stroke:#f9db42;
}

.home {
  stroke:#c775c2;
}

.personal {
  stroke:#fd8939;
}

.travel {
  stroke:#5693cd;
}