@import '../../config';

.summary {
  width: 50%;
  height: 100%;
  float: right;
  display: block;
  margin-bottom: 5px;
}

.summaryContents {
  background-color: $dark-background;
  height: 292px;
  border-radius: 5px;
  color: $light-text;
}

.money {
  width: 100%;
  height: 30%;
  border-bottom: 4px solid $background-color;
}

.money h4 {
  padding-top: 10px;
}

.moneyOut {
  width: 33%;
  display: inline-block;
  border-right: 4px solid $background-color;
  height: 100%
}

.moneyIn {
  width: 33%;
  display: inline-block;
  height: 100%
}

.transactionsAmount {
  border-left: 4px solid $background-color;
  width: 33%;
  display: inline-block;
  height: 100%
}

@media only screen and (max-width: 800px) {
  .summary {
    width: 100%;
  }
  
  .summaryContents {
    height: 350px;
  }
}