@import '../../config';

.arrowIcon {
  float: right;
  display: inline;
  margin-top: 3px;
}

.loadSummary {
  display: contents;
}

.tableHeader {
  cursor: pointer;
}

.date {
  background-color: $tabke-dark-background;
  font-size: 0.8em;
  color: $medium-text2;
  padding: 0.5em 1.25em !important;
  border-top: 1px solid #dee2e6 !important
}

.table {
  background-color: $light-background;
  border-radius: 5px;
  text-align: left;
  border-top: none;
}

thead td {
  background-color: $light-background;
}

/* .table thead td {
  border-radius: 5px;
  border-top: none;
} */

.table tr:first-child td{
  border: none;
  border-radius: 5px;
}