@import '../../config';

.open {
  position: relative;
  height: 100px;
  cursor: pointer;
}

.transactionEntry {
  cursor: pointer;
}

.status {
  display: block;
  margin-top: 25px;
}

.status span {
  background-color: $dark-background;
  color: $light-text;
  padding: 2px;
  border-radius: 3px;
  vertical-align: bottom;
}

.roundUp {
  float: left;
  margin-top: 10px;
}

.balance {
  margin-top: 8px;
  text-align: right;
}

.amounts {
  display: inline-flex;
}
.amounts div {
  margin-left: 30px;
}

.avatar {
  width: 64px;
}

.mainArea {
  width:80%
}

.message {
  font-size: 0.8em;
  display: block;
  color: $medium-text2;
}

.income {
  color: $income-text;
}