/* Backgrounds */
$background-color: #242431;
$light-background: #fbfbfb;
$hover-background: #d2d2d2;
$dark-background: #2c2c38;
$tabke-dark-background: #f4f4f4;

/* Button */
$button-orange: #ff7a64;
$button-yellow:rgb(255, 239, 107);
$button-green:rgb(56, 84, 84);

/* Text colours */
$heading-orange: #fe7865;
$medium-text: #97969c;
$medium-text2: #888888; // fix
$dark-text: #24242f;
$light-text: #f1f1f3;
$income-text: #07bc83;

/* category colours */
$good-life: #f9db42;
$home: #c775c2;
$personal: #fd8939;
$transport: #5693cd;
