@import 'config';

.app {
  background-color: $background-color;
  text-align: center;
}

h2 {
  color: $heading-orange;
  text-align: center;
}

.good-life {
  color: $good-life
}

.home {
  color: $home
}

.personal {
  color: $personal
}

.transport {
 color: $transport
}

p {
  color: $medium-text
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  
  .mainContainer {
    max-width: 2000px;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 56px !important;
  }
  
  .sideUtil {
    display: block;
    width: 100%;
    height: 100%;
    /* position: fixed; */
  }
  
  .content {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .mainContainer {
    max-width: 2000px;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 56px !important;
  }
  
  .sideUtil {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .content {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1200px) {

  .mainContainer {
    max-width: 2000px;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-top: 56px !important;

  }
  
  .sideUtil {
    position: fixed;
    height: 100vh;
    display: block;
    float: left;
    width: 25%;
  }
  
  .content {
    width: 75%;
    float: right;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1600px) {
  
  .mainContainer {
    max-width: 2000px;
    width: 75%;
    padding: 10px;
    margin: auto;
    margin-top: 56px !important;
  }
  
  .sideUtil {
    position: fixed;
    height: 100vh;
    display: block;
    float: left;
    width: 18%;
    max-width: 487px;
  }
  
  .content {
    width: 75%;
    float: right;
    padding-left: 10px;
  }
}