@font-face {
  font-family: Circular;
  src: url(./fonts/CircularStd-Book.ttf);
}

body {
  margin: 0;
  font-family: Circular, Roboto, Helvetica, Arial, sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
  background-color: #242431;
  color: #ffffff;
}
/* 
.test {
  app-backgroubnd: #242431;
  light-background: #fbfbfb;
  date: #f4f4f4;
  text: #232330
} */