@import '../../config';

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.formContainer {
  border-radius: 5px;
  background-color: $dark-background;
  padding: 10px;
  margin-bottom: 10px;
  color: $light-text;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.inputDiv {
  float: left;
  width: 100%;
  margin-top: 6px;
  text-align: left;
}

.row label {
  padding: 12px 12px 0 0;
  margin-bottom: 0 !important;
}

.react-datepicker-wrapper {
  width: 100%;
}