@import '../../config';

.bg-light {
  background-color: $background-color !important;
  color: $light-text
}

.navbar-brand {
  color: $heading-orange !important;
  background-color: none !important;
}

.navbar-brand:hover {
  /* color: rgb(56, 84, 84); */
  color: $button-yellow !important
}

.nav-link {
  color: $medium-text !important
}

.nav-link:hover {
  color: $light-text !important
}

.nav-link.active {
  background-color: $background-color !important;
  color: $light-text !important
}

.navbar-brand.active {
  background-color: $background-color !important;
}